body {
  background-color: rgb(68, 233, 245);
  font-family: Arial, Tahoma, Verdana, sans-serif;
  font-size: 100%;
  background-image: url('../img/snowymountains.jpg');
}
header {
  padding: 4px;
  margin: 10px 40%;
}
main {
  width: auto;
  margin: 2px 40px;
  padding: 10px;
}
article {
  border-radius: 3em;
  display: inline-block;
  padding: 18px;
  margin: 10px;
  width: 100%;
  border: 2px solid blue;
  background-color: azure;
}
section {
  margin: 10px;
  display: flex;
}
footer {
  padding: 12px;
  background-color: azure;
  border: 2px solid blue;
  border-radius: 3em;
  margin: 10px 41%;
  width: max-content;
}
h1 {
  font-weight: bolder;
  font-size: 1.8em;
  padding: 4px 0px;
}
h3 {
  font-weight: bold;
  font-size: 1.2em;
  padding: 4px 0px;
}
p {
  padding: 4px;
}
q {
  padding-left: 5%;
}
ul {
  list-style: circle inside;
  padding-left: 2em;
}
ol {
  list-style: decimal inside;
  padding-left: 2em;
}
.signature {
  color: brown;
  padding: .4em;
}
.sigLinks {
  margin: auto;
  justify-content: center;
}
#headshot {
  border: 2px solid blue;
  border-radius: 50%;
  padding: 2px;
  margin: 10px;
  width: 150px;
}