body {
  background-color: rgb(68, 233, 245);
  font-family: helvetica sans-serif;
  font-size: large;
}
header {
  padding: 4px;
  display: flex;
  width: 30%;
  margin: auto;
  justify-content: center;
  height: 25%;
  background-color: azure;
  border: 2px solid blue;
  border-radius: 3em;
}
main {
  display: flex;
  height: 50%;
}
footer {
  font-size: smaller;
  display: flex;
  padding: 4px;
  background-color: azure;
  border: 2px solid blue;
  border-radius: 3em;
  width: 30%;
  margin: auto;
  justify-content: center;
}
h1 {
  display: flex;
  font-size: xx-large;
  font-weight: bolder;
  padding: 4px 40px;
}
h2 {
  display: flex;
  font-size: x-large;
  font-weight: bolder;
  padding: 4px 40px;
}
img {
  border: 2px solid blue;
  border-radius: 50%;
  padding: 2px;
  width: 100px;
}
p {
  padding: 4px;
}
article {
  margin: 4px;
  width: 49%;
  padding: 12px;
  border: 2px solid blue;
  border-radius: 3em;
  background-color: azure;
}
.leftcolumn {
  float: left;
}
.rightcolumn {
  float: right;
}