body {
  background-color: rgb(120, 238, 238);
  font-family: helvetica sans-serif;
  font-size: large;
}
header {
  padding: 4px;
  display: flex;
  justify-content: center;
  height: 25%;
  background-color: orange;
  border-radius: 3em;
}
main {
  height: 50%;
}
footer {
  font-size: medium;
  display: flex;
  padding: 4px 40px;
  background-color: orange;
  border-radius: 3em;
}
h1 {
  display: flex;
  font-size: xx-large;
  font-weight: bolder;
  padding: 4px 40px;
}
h2 {
  display: flex;
  font-size: x-large;
  font-weight: bolder;
  padding: 4px 40px;
}
img {
  border: 2px solid blue;
  border-radius: 50%;
  padding: 2px;
  width: 100px;
}
p {
  padding: 4px;
}
.leftcolumn {
  width: 33%;
  float: left;
  margin: 4px;
}
.rightcolumn {
  width: 33%;
  float: right;
  margin: 4px;
}